.container {
	padding: 0 35px;
	@media screen and (min-width: 768px) {
		padding: 0 50px;
	}
	@media screen and (min-width: 1440px) {
		padding: 0;
		max-width: 1400px;
		margin: 0 auto;
	}
}

.primary-background {
	background-image: url("../assets/img/bg.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

.light-text {
	color: $tertiary-color;
	font-weight: 600;
}

.rm-mp {
	margin: 0;
	padding: 0;
}

.more-btn {
	a {
		display: flex;
		align-items: center;
		color: $tertiary-color;
	}
	img {
		width: 20px;
	}
}
