//colors
$primary-color:#17C2EC;
$secondary-color:#fff;
$tertiary-color:rgba(255, 255, 255, 0.50);
$black:#000;


//font-sizes
$heading-font-size:48px;
$base-font-size:24px;
$lg-font-size:18px;
$md-font-size:14px;
$sm-font-size:12px;
$xs-font-size:10px;
$text-font-size:20px;

