.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	// position: sticky;
	// top: 4px;
	// z-index: 100;
	&__main {
		display: none;
	}
	&__menu {
		cursor: pointer;
	}
	@media screen and (min-width: 1440px) {
		.header {
			&__main {
				display: flex;
				align-items: center;
				gap: 60px;
				font-size: $base-font-size;
			}
			&__nav {
				display: flex;
				gap: 25px;
				list-style-type: none;
				&--item {
					color: $tertiary-color;
					font-weight: 500;
					&:hover {
						color: $secondary-color;
						font-weight: 700;
					}
				}
			}
			&__menu {
				display: none;
			}
		}
	}
	&__logo {
		width: 150px;
		@media screen and (min-width: 768px) {
			width: 200px;
		}
		@media screen and (min-width: 1440px) {
			width: auto;
		}
		img {
			width: 100%;
		}
	}
}
