.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 90px 0;
    @media screen and (min-width: 768px) {
        padding: 50px 0;
        padding-top:120px ;
    }
    @media screen and (min-width: 1440px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 120px 0;
        padding-top:180px ;
    }
	&__top {
		img {
			width: 144px;
			@media screen and (min-width: 768px) {
				width: 200px;
			}
			@media screen and (min-width: 1440px) {
				width: auto;
			}
		}
	}
	&__mid {
		ul {
			margin: 0;
			padding: 0;
			display: flex;
            flex-direction: column;
            font-size: $md-font-size;
            gap: 25px;
            @media screen and (min-width: 768px) {
                font-size: $text-font-size;
                flex-direction: row;
            }
            @media screen and (min-width: 1440px) {
                font-size: $base-font-size;
            }
		}
		a {
			color: rgba(255, 255, 255, 0.5);
			font-size: $text-font-size;
			font-weight: 500;
		}
	}
	&__bottom {
		img {
			width: 16px;
			@media screen and (min-width: 768px) {
				width: 30px;
			}
			@media screen and (min-width: 1440px) {
				width: 50px;
			}
		}
		ul {
            margin: 0;
            padding: 0;
			display: flex;
			align-items: center;
		}
	}
}
